<style>
    h1
    {
        font-size: 60px;
        color: black;
        text-align: center;
        background-color: cadetblue;
    }
    ul
    {
        font-size: 20px;
        color: black;
        text-align: center;  
        background-color: cadetblue;
    }
</style>